/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700'); */

.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.header {
  overflow: hidden;
  background: #8d0000;
  padding: 20px 10px;
}

.logo {
  font-size: 25px;
  padding: 12px;
  font-weight: bold;
}

.bigprofile:hover {
  background-color: #ddd;
  color: black;
  padding: 23px;
}

.header-right {
  float: right;
}